.unit-image {
    width: 100%;
    /* It will take full width of the container */
    max-height: 100%;
    /* It will not exceed the height of the container */
    object-fit: contain;
    /* It will maintain the aspect ratio */
    margin: auto;
    /* Centering the image */
    display: block;
    /* Making it a block-level element */
}


.game-properties-stack {
    display: flex;
    justify-content: space-between;
}

.game-properties {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}