.critical-hit-circle {
    background: white;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 2px;
    display: inline-block;
    padding: 0;
    text-align: center;
    line-height: 30px;
}

.critical-hit-circle.clicked {
    background: black;
    color: white;
}